/* Chrome, Safari, Edge, Opera */
.no-spin::-webkit-outer-spin-button,
.no-spin::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.no-spin[type=number] {
    -moz-appearance: textfield;
}

.edit-icon, .delete-icon {
    transition: all 0.3s ease;
}
.edit-icon:hover, .delete-icon:hover {
    cursor: pointer;
}
.edit-icon:hover {
    color: #10B981
}

.delete-icon:hover {
    color: #EF4444
}

@media screen and (max-width: 480px) {
    :root {
        --p-toast-width: 20rem !important;
    }
}