:root {
    --text-color: #14181F;
    --text-color-hover: #080B0F;
    --white: #ffffff;
    --badge-background: #FFED9E;
    --badge-color: #DB6E00;
    --transition: all 0.3s ease-in-out;
    --main-orange: #FE5D33;
    --hero-background: #000;
    --black: #000000;
    --features-card-bg: #F6F6F6;
    --grey: #4B5563;
    --blue: #DBEDFB;
    --orange: #FE5D33;
    --dark-blue: #111827;
    --light-grey: #6B7280;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    line-height: 1.25;
}

@media screen and (min-width: 1024px) {
    body {
        line-height: 1.5;
    }
}

button:hover {
    cursor: pointer;
}

.section {
    scroll-margin-top: 80px;
}

.header {
    display: flex;
    background-color: var(--white);
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    filter: drop-shadow(0 1px 1px rgb(0 0 0 / 0.05));
    z-index: 10;
}

.header-logo img {
    height: 32px;
    object-fit: contain;
}

.header-menu__list {
    display: none;
    gap: 16px;
}

.header-menu__list-item {
    text-decoration: none;
    color: var(--text-color);
    font-size: 15px;
    transition: all 0.3s ease;
}

.header-menu__list--item:hover {
    /*color: var(--allio-yellow);*/
}

.header-login-button {
    text-decoration: none;
    padding: 10px 12px;
    border-radius: 8px;
    background-color: transparent;
    transition: all 0.3s ease-in;
    display: none;
}

.header-login-button:hover {
    color: var(--white);
}

.header-menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
}

.header__mobile-menu {
    position: absolute;
    top: 60px;
    right: 0;
    padding: 20px;
    background: var(--white);
    width: 100%;
    height: calc(100dvh - 60px);
    transform: translateX(100%);
    transition: var(--transition);
    opacity: 0;
    visibility: hidden;
}

.header__mobile-menu.open {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}

.header__mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.header__mobile-menu-item {
    text-decoration: none;
    color: var(--text-color);
    font-size: 20px;
}

.header__mobile-menu-button {
    text-decoration: none;
}

.header-login-button {
    display: none;
}

@media only screen and (min-width: 768px) {
    .header-login-button {
        display: flex;
    }

    .header-menu-button {
        display: none;
    }

    .header-menu__list {
        display: flex;
    }

    .header {
        padding: 15px 30px;
    }

    .header-menu__list {
        gap: 20px;
    }

    .header-logo img {
        height: 32px;
        object-fit: contain;
    }
}

@media screen and (min-width: 1024px) {
    .header-menu__list-item {
        font-size: 16px;
    }

    .header-logo img {
        height: 36px;
    }

    .header-menu__list {
        gap: 24px;
    }
}

@media screen and (min-width: 1440px) {
    .header-menu__list-item {
        font-size: 18px;
    }
}

@media screen and (min-width: 1680px) {
    .header {
        padding: 20px 40px;
    }

    .header-menu__list-item {
        font-size: 20px;
    }
}

/* section container */
.landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 4px;
}
.section {
    max-width: 1480px;
    width: 100%;
}
.modal-open {
    overflow: hidden;
}

@media screen and (min-width: 768px) {
    .landing-container {
        margin: 0 10px
    }
}

@media screen and (min-width: 1024px) {
    .landing-container {
        margin: 0 20px
    }
}
@media screen and (min-width: 1280px) {
    .landing-container {
        margin: 0 30px
    }
}
/* hero */
.hero {
    margin-top: 60px;
    background: var(--hero-background);
    border-bottom-left-radius: 48px;
    border-bottom-right-radius: 48px;
    padding: 80px 0 30px;
}
.hero__content {
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 0 20px;
}
.hero__top {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero__top-title {
    font-weight: 600;
    font-size: 36px;
    text-align: center;
    color: var(--white);
    margin-bottom: 8px;
}
.hero__top-subtitle {
    max-width: 400px;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: var(--white);
    margin-bottom: 54px;
}
.hero__top-button {
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--black);
    transition: var(--transition);
    font-size: 20px;
    border-radius: 100px;
    padding: 10px 32px;
}
.hero__top-button:hover {
    border: 1px solid var(--white);
    background-color: var(--black);
    color: var(--white);
}
.hero__bottom {
    margin: 0 auto;
    text-align: center;
}
.hero__bottom-badge {
    border-radius: 100px;
    padding: 6px 10px;
    background-color: var(--white);
    color: var(--black);
}

@media screen and (min-width: 768px) {
    .hero {
        padding: 80px 0 30px;
    }
    .hero__top-title {
        font-size: 42px;
        margin-bottom: 10px;
    }
    .hero__top-subtitle {
        max-width: 500px;
        font-size: 18px;
        margin-bottom: 36px;
    }
}
@media screen and (min-width: 1024px) {
    .hero {
        padding: 110px 0 40px;
    }
    .hero__content {
        gap: 120px;
    }
    .hero__top-title {
        font-size: 54px;
        margin-bottom: 12px;
    }
    .hero__top-subtitle {
        max-width: 650px;
        font-size: 20px;
        margin-bottom: 48px;
    }
}
@media screen and (min-width: 1280px) {
    .hero {
        margin-top: 66px;
        padding: 140px 0 40px;
    }
    .hero__content {
        gap: 140px;
    }
    .hero__top-title {
        font-size: 64px;
        margin-bottom: 16px;
    }
    .hero__top-subtitle {
        max-width: 750px;
        font-size: 22px;
        margin-bottom: 54px;
    }
}
@media screen and (min-width: 1680px) {
    .hero {
        margin-top: 76px;
        padding: 160px 0 50px;
    }
    .hero__content {
        gap: 160px;
    }
}

.features {
    margin-top: 40px;
    padding-inline: 12px;
}
.features__content {
    width: 100%;
}
.features__title {
    font-weight: 700;
    font-size: 32px;
    color: var(--black);
    text-align: left;
}
.features__list {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.features__list-column {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.features__list-card {
    border-radius: 20px;
    background-color: var(--features-card-bg);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%;
}
.features__list-card-text {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.features__list-card-title {
    font-weight: 600;
    font-size: 20px;
    color: var(--black);
}
.features__list-card-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--grey);
}
.features__images {
    margin-top: 24px;
   display: flex;
    flex-direction: column;
    gap: 16px;
}
.features__image {
    max-height: 600px;
    object-fit: contain;
}

@media screen and (min-width: 768px) {
    .features {
        margin-top: 70px;
    }
    .features__title {
        font-size: 36px;
    }
    .features__list {
        margin-top: 24px;
    }
    .features__list-card {
        border-radius: 30px;
        padding: 40px;
    }
    .features__images {
        margin-top: 24px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
    }
}

@media screen and (min-width: 1024px) {
    .features {
        margin-top: 100px;
    }
    .features__list {
        margin-top: 32px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .features__list-card {
        padding: 24px;
        gap: 16px;
    }
    .features__list-card-text {
        gap: 8px;
    }
    .features__list-card-title {
        font-size: 16px;
    }
    .features__list-card-description {
        font-size: 15px;
    }
    .features__images {
        margin-top: 32px;
        column-gap: 40px;
    }
    .features__image {
        max-height: none
    }
}


@media screen and (min-width: 1280px) {
    .features__list {
        margin-top: 42px;
        column-gap: 32px;
    }
    .features__list-card {
        padding: 32px;
        gap: 10px;
    }
    .features__list-card-text {
        gap: 12px;
    }
    .features__list-card-title {
        font-size: 18px;
    }

}

@media screen and (min-width: 1440px) {
    .features__list {
        margin-top: 54px;
        column-gap: 40px;
    }
    .features__list-card {
        padding: 40px;
        gap: 24px;
    }
    .features__list-card-text {
        gap: 16px;
    }
    .features__list-card-title {
        font-size: 20px;
    }
    .features__list-card-description {
        font-size: 16px;
    }
}
.feedback {
    margin-top: 40px;
}
.feedback__content {
    padding: 40px;
    background: var(--blue);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.feedback__content-logo {
    max-width: 40px;
}
.feedback__content-text {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 24px;
}
.feedback__content-title {
    font-weight: 400;
    font-size: 48px;
    color: var(--black);
}
.feedback__content-description {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.feedback__content-description p {
    font-weight: 300;
    font-size: 16px;
    line-height: 160%;
    color: var(--black);
}
.feedback__content-button {
    background-color: var(--orange);
    padding: 16px 40px;
    font-weight: 600;
    color: var(--white);
    border-radius: 100px;
    width: max-content;
}

@media screen and (min-width: 768px) {
    .feedback {
        margin-top: 70px;
    }
    .feedback__content {
        padding: 60px;
        gap: 130px;
    }
    .feedback__content-logo {
        max-width: 60px;
    }

    .feedback__content-text {
        flex-direction: row;
        gap: 40px;
    }
    .feedback__content-title {
        width: 55%;
        font-size: 54px;
    }
    .feedback__content-description {
        width: 45%;
        align-items: end;
    }
    .feedback__content-description p {
        font-size: 18px;
        text-align: right;
        text-wrap: balance;
    }
    .feedback__content-button {
        padding: 10px 40px;
    }
}
@media screen and (min-width: 1024px) {
    .feedback {
        margin-top: 100px;
    }
    .feedback__content {
        padding: 80px;
        gap: 160px;
    }
    .feedback__content-logo {
        max-width: 80px;
    }
    .feedback__content-title {
        font-size: 72px;
    }
    .feedback__content-description {
        gap: 40px;
    }
    .feedback__content-description p {
        font-size: 20px;
    }
}

.footer {
    margin: 30px 0 8px;
    background: var(--dark-blue);
    border-radius: 40px;
}
.footer__top, .footer__bottom {
    padding: 20px;
}
.footer__top {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.footer__top-title {
    font-weight: 700;
    font-size: 30px;
    color: var(--white);
}
.footer__top-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #9ca3af;
    max-width: 300px;
}
.footer__bottom {
    border-top: 1px solid var(--light-grey);
    color: var(--light-grey);
    text-align: center;
}
@media screen and (min-width: 768px) {
    .footer {
        margin: 60px 0 24px;
    }
    .footer__top, .footer__bottom {
        padding: 24px;
    }
    .footer__top {
        gap: 20px;
    }
}
@media screen and (min-width: 1024px) {
    .footer {
        margin: 100px 0 30px;
    }
    .footer__top, .footer__bottom {
        padding: 30px;
    }
    .footer__top {
        gap: 30px;
    }
}